@use "../abstracts";
.logo{
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
    &__title{
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%; /*  */
        color: var(--text-color);
        @include abstracts.reponsives(lg){
            font-size: 1.8rem;
            gap: 10px;
        }
    }
}