html.dark{

        --text-color: #fff;
        --icon-fill: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7478%) hue-rotate(5deg) brightness(105%) contrast(106%);
        --header-bg: #171C28;
        --top-act-group-bg-color: #292E39;
        --top-act-group-shadow: rgba(0, 0, 0, 0.20);
        --top-act-group-separate: #EDEDF6;
        --header-bg-mb:#171C28;
        --body-bg:#292E39;
}